{{ define "main" }}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8">
            <h3 class="mt-3 mb-3">{{ .Title }}</h3>
            <hr> 
            {{ range $key, $value := .Site.Data.projects }} 
            {{ range $value }}
            <div class="card border-danger mb-5">
                <div class="card-body">
                    <h4 class="card-title mb-3">
                        <a href="{{ .link }}" class="text-danger">{{ .name }}</a>
                    </h4>
                    <p class="card-text">{{ .desc }}</p>
                    <hr>
                    <h6 class="font-italic">Built With: </h6>
                    {{ range .technologies }}
                    <span class="badge badge-danger">{{ . }}</span>
                    {{ end }}
                </div>
            </div>
            {{ end }} 
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
