<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "style.css" | relURL }}">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Questrial|Quicksand" rel="stylesheet">

        <!-- Google Analytics Async-->
        {{ template "_internal/google_analytics_async.html" . }}
    </head>

    <body>
        <div class="header">
            <div id="title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
            <p id="subtitle">{{ .Site.Params.description }}</p>
            <hr>
            <div class="links">
                <div>
                    <a href="{{ "about/" | relURL }}"><img src="{{ "user.svg" | relURL }}" alt="">About</a>
                </div>
                {{ if .Site.Params.twitter }}
                    <div>
                        <a href="{{ .Site.Params.twitter }}"><img src="{{ "twitter.svg" | relURL }}" alt="">{{ .Site.Params.twitterUsername }}</a>
                    </div>   
                {{ end }} 
                {{ if .Site.Params.github }}
                    <div>
                        <a href="{{ .Site.Params.github }}"><img src="{{ "github.svg" | relURL }}" alt="">{{ .Site.Params.githubUsername }}</a>
                    </div>
                {{ end }} 
            </div>
            <hr>
        </div>
        <div class="content">
            {{ block "main" . }} 
            {{ end }}
        </div>
        <div class="footer">
            <hr>
            Copyright &copy; {{ now.Format "2006"}} {{ .Site.Params.AuthorName }} 
            <div>
                <a href="https://github.com/umarmahmud/refresh">Template</a> designed and coded by <a href="http://www.umarmahmud.com/about/">Umar Mahmud</a>.
            </div> 
        </div>    
    </body>

</html>
