<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "style.css" | relURL }}">
        <title>{{ .Site.Title }}</title>

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Questrial|Quicksand" rel="stylesheet">

        <!-- Google Analytics Async-->
        {{ template "_internal/google_analytics_async.html" . }}
    </head>

    <body>
        <div class="header">
            <div class="column-0">
                <div id="title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
                <div id="subtitle">{{ .Site.Params.description }}</div>
            </div>
            <div class="column-1">
                {{ if .Site.Params.twitter }}
                    <a href="{{ .Site.Params.twitter }}"><img src="{{ "twitter.svg" | relURL }}" alt=""></a>
                {{ end }}
            </div>
            <div class="column-2">
                {{ if .Site.Params.github }}
                    <a href="{{ .Site.Params.github }}"><img src="{{ "github.svg" | relURL }}" alt=""></a>
                {{ end }}
            </div>
            <div class="column-3">
                {{ if .Site.Params.email }}
                    <a href="mailto:{{ .Site.Params.email }}"><img src="{{ "mail.svg" | relURL }}" alt=""></a>
                {{ end }}
            </div>
            <div class="column-4">
                <a href="{{ "tags" | relURL }}"><img src="{{ "tags.svg" | relURL }}" alt=""></a>
            </div>
        </div>
        <div class="content">
            {{ block "main" . }} 
            {{ end }}
        </div>
        <div class="footer">
            <hr id="footer-hr">
            Copyright &copy; {{ now.Format "2006"}} {{ .Site.Params.AuthorName }}
        </div>    
    </body>

</html>
