<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "style.css" | relURL }}">
        <title>{{ .Page.Title }}</title>

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

        <!-- Google Analytics Async-->
        {{ template "_internal/google_analytics_async.html" . }}
    </head>

    <body>
        <div class="header">
            <div class="header-column">
                <div id="title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
                <div id="subtitle">{{ .Site.Params.description }}</div>
            </div>
        </div>
        <div class="icons">
            <div class="column-0">
                <a href="{{ "about/" | relURL }}" title="About"><img src="{{ "user.svg" | relURL }}" alt=""></a>
            </div>
            <div class="column-1">
                {{ if .Site.Params.twitter }}
                    <a href="https://twitter.com/{{ .Site.Params.twitter }}" title="Twitter"><img src="{{ "twitter.svg" | relURL }}" alt=""></a>
                {{ end }}
            </div>
            <div class="column-2">
                {{ if .Site.Params.github }}
                    <a href="https://github.com/{{ .Site.Params.github }}" title="Github"><img src="{{ "github.svg" | relURL }}" alt=""></a>
                {{ end }}
            </div>
            <div class="column-3">
                {{ if .Site.Params.email }}
                    <a href="mailto:{{ .Site.Params.email }}" title="Contact"><img src="{{ "mail.svg" | relURL }}" alt=""></a>
                {{ end }}
            </div>
        </div>
        <div class="content">
            {{ block "main" . }} 
            {{ end }}
        </div>
        <div class="footer">
            <hr>
            Copyright &copy; {{ now.Format "2006"}} <a href="{{ "about/" | relURL }}">{{ .Site.Params.AuthorName }}</a>
        </div>    
    </body>

</html>
