{{ define "main" }}
    {{ if and (eq .Section "tags") (eq .Page.Title "Tags") }}
        <h3>All Tags</h3>
        <ul id="all-tags">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                    <li><a href="{{ .Permalink }}">{{ $name }} ({{ $taxonomy.Count }})</a></li>
                {{ end }}
            {{ end }}
        </ul>
    {{ end }}
    {{ if and (eq .Section "tags") (ne .Page.Title "Tags") }}
        <h3>{{ .Title }}</h3>
    {{ end }} 
    {{ if ne .Page.Title "Tags" }}
        <div class="article-list">
            {{ range .Paginator.Pages }}
                <ul>
                    <li>
                        <p>
                            <a href="{{ .Permalink }}"> {{ .Title }}</a>
                        </p>
                        <div class="tags">
                            {{ if .Params.tags }} 
                                {{ range .Params.tags }}
                                <div class="button-grid">
                                    <span id="tag-button">
                                        <a id="tag-text" href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                                    </span>
                                </div>
                                {{ end }} 
                            {{ end }}
                        </div>
                    </li>
                </ul>
            {{ end }}
        </div>
        <div class="paginator">
            {{ if .Paginator.HasPrev }}
                <span class="previous">
                    <a href="{{ .Paginator.Prev.URL }}" class="button">Previous</a>
                </span>
            {{ end }} 
            {{ if .Paginator.HasNext }}
                <span class="next">
                    <a href="{{ .Paginator.Next.URL }}" class="button">Next</a>
                </span>
            {{ end }}
        </div>
        <div class="page-count">
            <p>Page {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</p>
        </div>
    {{ end }}
{{ end }}
