{{ define "main" }}
    <div class="article-list">
        {{ $paginator := .Paginate (where .Pages "Section" "posts") }} 
        {{ range $paginator.Pages }}
            <ul>
                <li>
                    <p>
                        <a href="{{ .Permalink }}"> {{ .Title }}</a>
                    </p>
                </li>
            </ul>
        {{ end }}
    </div>
    <div class="paginator">
        {{ if $paginator.HasPrev }}
            <span class="previous">
                <a href="{{ $paginator.Prev.URL }}" class="button">Previous</a>
            </span>
        {{ end }} 
        {{ if $paginator.HasNext }}
            <span class="next">
                <a href="{{ $paginator.Next.URL }}" class="button">Next</a>
            </span>
        {{ end }}
    </div>
{{ end }}
