{{ define "main" }}
    {{ if eq .Page.Title "Tags" }}
        <h3>All tags</h3>
        <ul id="all-tags">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                    <li><a href="{{ .Permalink }}">{{ $name }} ({{ $taxonomy.Count }})</a></li>
                {{ end }}
            {{ end }}
        </ul>
    {{ end }} 
    {{ if ne .Page.Title "Tags" }}
        {{ if ne .Page.Title .Site.Title }}
            <h3>{{ .Title }}</h3>
        {{ end }}
        <div class="article-list">
            {{ range .Paginator.Pages }}
                <ul>
                    <li>    
                        <div class="date"> {{ .PublishDate.Format "Jan 2, 2006" }} </div>
                        <div class="title-main">
                            <a href="{{ .Permalink }}"> {{ .Title }}</a> 
                        </div>   
                    </li>
                </ul>
            {{ end }}
        </div>
        <div class="paginator">
            {{ if .Paginator.HasPrev }}
                <span class="previous">
                    <a href="{{ .Paginator.Prev.URL }}" class="button">Previous</a>
                </span>
            {{ end }} 
            {{ if .Paginator.HasNext }}
                <span class="next">
                    <a href="{{ .Paginator.Next.URL }}" class="button">Next</a>
                </span>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
