{{ define "main" }}
    <p id="post-title">{{ .Title }}</p>
    <div class="dates">
        {{ .Date.Format "Jan 02, 2006" }}
    </div>
    <div class="categories">
        {{ if .Params.categories }} 
            {{ range .Params.categories }}
                <span class="category-links">
                    <a href="{{ "categories/" | relURL }}{{ . | urlize }}" class="category-button">{{ . }}</a>
                </span>
            {{ end }} 
        {{ end }}
    </div>
    <div class="post-content">
        {{ .Content }}
    </div>
    <div class="paginator">
        {{ with .NextInSection }}
            <span class="previous">
                <a href="{{ .Permalink }}" class="button">Previous</a>
            </span>
        {{ end }} 
        {{ with .PrevInSection }}
            <span class="next">
                <a href="{{ .Permalink }}" class="button">Next</a>
            </span>
        {{ end }}
    </div>
    <!--disqus-->
    <div class="disqus">
        {{ template "_internal/disqus.html" . }}
    </div>
{{ end }}
