<div class="card border-danger text-center mt-4" style="width: 14rem;">
    <div class="card-body">
        <h5 class="card-title mb-3"><a href="{{ "categories/" | relURL }}" class="text-danger">Categories</a></h5>
        <hr>
        <ul class="list-unstyled">
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <li class="mt-1">
                <a href="{{ "categories/" | relURL }}{{ $name | urlize }}" class="text-danger"> {{ $name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>

