{{ define "main" }}
<div class="container mt-3 mt-md-5 mb-3 mb-md-5">
    <div class="row justify-content-around">
        <div class="col-sm-10 col-md-7 mb-5">
            {{ $paginator := .Paginate (where .Pages "Section" "posts") }} 
            {{ range $paginator.Pages }}
            <ul class="list-unstyled">
                <li>
                    <h5>
                        <a href="{{ .Permalink }}" class="text-danger"> {{ .Title }}</a>
                    </h5>
                    {{ partial "post-data.html" . }}
                    <hr>
                </li>
            </ul>
            {{ end }} 
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}" class="btn btn-danger btn-sm ml-5" role="button">&#60; Previous</a>
            {{ end }} 
            {{ if $paginator.HasNext }}
            <span class="float-right">
                <a href="{{ $paginator.Next.URL }}" class="btn btn-danger btn-sm mr-5" role="button">Next &#62;</a>
            </span>
            {{ end }}
        </div>
        <div class="col-md-3 d-none d-md-block">
            {{ partial "category-card.html" . }}
        </div>
    </div>
</div>
{{ end }}

