/* globals */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #006650;
}

a:hover {
    color: #009978;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #00b38c;
    border-bottom: 1px solid white;
}

pre {
    overflow-x: scroll;
    padding: 5px;
}

/* body flexbox child elements (see baseof.html) */

.content {
    width: 95%;
    font-family: 'Questrial', sans-serif;
}

.footer {
    width: 100%;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    margin-top: 2%;
    font-size: 80%;
}

/* elements in header */

.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
}

.column-0 {
    flex: 90%;
    padding-left: 10px;
}

.column-1 {
    flex: 5%;
}

.column-2 {
    flex: 5%;
    padding-right: 10px;
}

#title {
    font-family: 'Quicksand', sans-serif;
    font-size: 175%;
    margin: 0%;
}

#subtitle {
    font-family: 'Questrial', sans-serif;
    font-size: 80%;
    font-weight: bold;
}

/* elements in content (list.html) */

.article-list > ul {
    margin-bottom: 10%;
}

.article-list > ul > li > p {
    margin-bottom: 1%;
    font-size: 150%;
}

#category-button {
    border: 1px #006650 solid;
    background-color: #006650;
    padding: 2px;
    margin-right: 4px;
    margin-left: 2px;
}

#category-text {
    color: white;
}

/* elements in content (single.html) */

#post-title {
    margin-bottom: 1%;
    font-size: 150%;
}

.post-content {
    margin-bottom: 3%;
}

.post-categories {
    margin-top: 5%;
}

/* paginator */

.paginator > .next {
    float: right;
}

.paginator > .previous {
    float: left;
}

.paginator > .next > a:hover {
    color: white;
}

.paginator > .previous > a:hover {
    color: white;
}

.button {
    background-color: #006650;
    color: white;
    padding: 5px;
    text-align: center;
}

.button:hover {
    background-color: #009978;
}

.disqus {
    margin-top: 5%;
    margin-bottom: 3%;
}

@media only screen and (min-width : 768px) and (max-width : 1224px) {
    .header {
        width: 100%;
    }
    #title {
        font-size: 250%;
    }
    #subtitle {
        margin-bottom: 3%;
    }
    .content {
        width: 66%;
    }
    .footer {
        width: 100%;
    }
    .article-list > ul {
        margin-bottom: 8%;
    }
    pre {
        padding: 10px;
    }
}

@media only screen  and (min-width : 1225px) and (max-width : 1823px) {
    .header {
        width: 50%;
    }
    #title {
        font-size: 250%;
    }
    #subtitle {
        margin-bottom: 2%;
    }
    .content {
        width: 50%;
    }
    .footer {
        width: 100%;
    }
    .article-list > ul {
        margin-bottom: 6%;
    }
    pre {
        padding: 10px;
    }
}

@media only screen  and (min-width : 1824px) {
    .header {
        width: 33%;
    }
    #title {
        font-size: 250%;
    }
    #subtitle {
        margin-bottom: 2%;
    }
    .content {
        width: 33%;
    }
    .footer {
        width: 100%;
    }
    .article-list > ul {
        margin-bottom: 6%;
    }
    pre {
        padding: 10px;
    }
}
